<div class="container">
  <h1>
    Magdalena CV <br><br>
  </h1>
  <h3>
    About
  </h3>
  <p>
    Magdalena is a beginner but ambitious person who tries to understand Angular and all the things about it. She searches the corners of the Internet for answers, but instead has more questions. Right now, she feels like she has to integrate without knowing what the derivative is. But she does not give up and tries to do and learn as many things as possible :) <br><br>
  </p>
  <h3>
    Education
  </h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="row">Uniwersytet Warszawski</th>
      </tr>
    </thead>
  <tbody>
    <tr>
      <th scope="row"><h6><b>2022-now</b> Finance and Accounting</h6></th>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th scope="row">High School</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scopre="row"><h6><b>2019-2022</b> XL Liceum Ogólnokształcące im. Stefana Żeromskiego w Warszawie</h6></th>
    </tr>
  </tbody>
</table>

<h3>
  <br>Projects
</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 50px;">#</th>
        <th scope="col" style="width: 150px;">Status</th>
        <th scope="col" style="width: 200px;">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><span [style.background-color]="'orange'">In progress</span></td>
        <td>Lowgular Mentoring Program - Entry Level</td>
        <td>The project involves receiving mentoring support in learning Angular and creating related projects.</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><span [style.background-color]="'hsl(120, 100%, 75%)'">Done</span></td>
        <td>Project 2</td>
        <td>Just the example, I did not do any "IT" projects.</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><span [style.background-color]="'hsl(120, 100%, 75%)'">Done</span></td>
        <td>Project 3</td>
        <td>Just the example, I did not do any "IT" projects.</td>
      </tr>
    </tbody>
  </table>
</div>
<br><br>
<div class="container">
  <p> *Komentarz ode mnie: </p>
    <p>1. Nie umiałam zrobić tabelki z rozwijającymi się opcjami. Znalazłam w zakładce Components->Dropdowns jak robi się małe zakładki np. menu, ale nie udało mi się tego połączyć w dużą tabelę. Wybrałam więc inny rodzaj tabelki niż w expected view. </p>
      <p>2. Zaznaczenie kolorem tekstu 'In progress' lub 'Done' udało mi się tylko zrobić w najłatwiejszy sposób, który nie jest zbyt ładny wizualnie. Nie udało mi się znaleźć sposobu (a przynajmniej zrozumiałego i póki co dostępnego dla mnie) na takie ładne wizualnie zaznaczenie jak w expected view w zadaniu.</p>
        <p> 3. Nie byłam pewna, jak zrobić odpowiednią przerwę między wersami, więc użyłam 'br'. Z chęcią nauczę się bardziej precyzyjnego sposobu na to. </p>
</div>
